.bigisland {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  background-image: url('../images/1py-slide4.jpg');
  background-size: cover;
  vertical-align: top;
  div {
    color: #fff;
  }
  .align-center {
    display: flex;
    align-items: center;
  }
  .big-island {
    margin-bottom: $margin-xs;
    img {
      width: 160px;
    }
  }
  .title {
    margin-bottom: $margin-s;
  }
  .sub-title {
    margin-bottom: $margin-s;
  }
  .ref {
    padding: 0;
    img {
      width: 100%;
    }
  }
  @include media-breakpoint-up(md) {
    .big-island {
      margin-bottom: $margin-xl;
    }
    .title {
      margin-bottom: $margin-xl;
    }
    .sub-title {
      margin-bottom: $margin-xl;
    }
  }
  @include media-breakpoint-up(lg) {
    .big-island {
      margin-bottom: $margin-xs;
      img {
        width: 200px;
      }
    }
  }
}
