.platform-design {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  background-color: #fff;
  vertical-align: top;
  div {
    color: #000;
  }
  .align-center {
    display: flex;
    align-items: center;
  }
  .big-island {
    margin-bottom: $margin-xs;
    img {
      width: 200px;
    }
  }
  .title {
    margin-bottom: $margin-xs;
  }
  .sub-title {
    margin-bottom: $margin-xs;
  }
  .ref {
    padding: 0;
    img {
      width: 100%;
    }
  }
  @include media-breakpoint-up(md) {
    .big-island {
      margin-bottom: $margin-xl;
      img {
        width: 240px;
      }
    }
    .title {
      margin-bottom: $margin-xl;
    }
  }
}
