.dreamstep {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  background-image: url('../images/1py-slide2.jpg');
  background-position: center;
  background-size: cover;
  text-align: center;
  div {
    color: #fff;
  }
  .dream-step {
    margin-bottom: $margin-s;
    img {
      width: 100%;
    }
  }
  .sub-title {
    margin-bottom: $margin-xl;
  }
  .step {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: $margin-xs;
    .icon {
      flex: 2;
      padding: $padding-xs;
      width: 48px;
      height: 48px;
      img {
        height: 100%;
      }
    }
    .description {
      flex: 8;
      text-align: left;
      .bold {
        font-weight: bold;
        @include font-size(1.1);
      }
    }
  };
  @include media-breakpoint-up(md) {
    .onepy-dream-step {
      @include font-size($title-font-size-m);
    }
    .step {
      flex-direction: column;
      .icon {
        width: 64px;
        height: 64px;
      }
      .description {
        text-align: center;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    .onepy-dream-step {
      @include font-size($title-font-size-l);
    }
  }
}
