$tel-font-sizes: (
  null  : (2rem, 1.1),
  x-small : (2rem, 1.1),
  small : (2.5rem, 1.1),
  medium: (3rem, 1.1),
  large : (3rem, 1.1),
  x-large: (3rem, 1.1)
);

.info {
  width: 100%;
  height: 100%;
  div {
    color: #fff;
  }
  .info-boxes {
    margin-top: -10rem;
    div {
      display: inline-block;
    }
  }
  .info-box {
    vertical-align: top;
    padding: 1rem;
    text-align: left;
    border: 6px solid #fff;
  }
  .blog {
    font-size: 1.2rem;
    div {
      display: block;
    }
    a {
      text-decoration: none;
      color: #fff;
    }
    .date {
      @include respond-to(x-small) { display: none; };
      @include respond-to(small) { display: none; };
    }
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #000000;
  }
  .onepy-address {
    vertical-align: middle;
    display: inline-block;
    min-width: 410px;
    max-width: 410px;
  }
  .onepy-hours {
    vertical-align: middle;
    display: inline-block;
    @include respond-to(x-small) { display: none; };
    @include respond-to(small) { display: none; };
  }
  .onepy-tel {
    vertical-align: middle;
    display: inline-block;
    @include font-size($tel-font-sizes);
    min-width: 220px;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
  .onepy-logo {
    vertical-align: middle;
    display: inline-block;
    max-width: 120px;
    @include respond-to(x-small) { display: none; };
    @include respond-to(small) { display: none; };
  }
  .symbol {
    color: #fff;
    margin: 0 10px;
    &:before {
      @include font-size($symbol-font-sizes);
    }
  }
}
