.info {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  div {
    color: #fff;
  }
  .info-box {
    margin-bottom: $margin-xs;
    padding: $base-padding-size;
    text-align: left;
    border: 6px solid #fff;
    .onepy-logo {
      @include font-size(3);
    }
  }
  .blog {
    font-size: 1.2rem;
    div {
      display: block;
    }
    a {
      text-decoration: none;
      color: #fff;
    }
    .date {
      display: none;
    }
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #000000;
    text-align: left;
    padding: $base-padding-size;
    .onepy-address {
      vertical-align: middle;
      display: inline-block;
      min-width: 410px;
      max-width: 410px;
    }
    .onepy-hours {
      vertical-align: middle;
      display: none;
    }
    .onepy-logo {
      display: none;
      vertical-align: middle;
      max-width: 120px;
      @include font-size(2);
    }
    .onepy-tel {
      display: inline-block;
      vertical-align: middle;
      margin-right: 0;
      min-width: 220px;
      @include font-size(2);
      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
  @include media-breakpoint-up(md) {
    .footer {
      .onepy-hours {
        display: inline-block;
      }
      .onepy-logo {
        display: inline-block;
      }
      .onepy-tel {
        margin-right: $margin-xs;
      }
    }
  }
  @include media-breakpoint-up(lg) {
  }
}
