.instagram {
  width: 100%;
  height: 100%;

  div {
    color: #fff;
  }
  .gallery {
    .thumbnail {
      box-sizing: border-box;
      display: inline-block;
      width: 50%;
      .thumbnail-image {
        width: 100%;
      }
    }
  }
  .thumbnail {
    position: relative;
  }
  .thumbnail-tag {
    position: absolute;
    bottom: 8px;
    left: 8px;
  }
  .instagram-icon {
    width: 2vw;
    min-width: 16px;
    max-width: 24px;
  }
  .instagram-date {
    padding: 8px;
  }
  @include media-breakpoint-up(sm) {
    .gallery {
      .thumbnail {
        width: 33.33%
      }
    }
  }
  @include media-breakpoint-up(md) {
    .gallery {
      .thumbnail {
        width: 25%
      }
    }
  }
  @include media-breakpoint-up(lg) {
    .gallery {
      .thumbnail {
        width: 20%
      }
    }
  }
}
