.rottory {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  background-image: url('../images/1py-slide3.jpg');
  background-size: cover;
  vertical-align: top;
  div {
    color: #fff;
  }
  .onepy-rottory-kitchen {
    @include font-size(4);
  }
  .brands {
  }
  .brand {
    .onepy {
      @include font-size(3);
      padding: $padding-xs;
    }
    .onepy-kara-aze {
      @include font-size(2);
      line-height: 3rem;
    }
  }
  @include media-breakpoint-up(md) {
    .onepy-rottory-kitchen {
      font-size: 5rem;
    }
  }
  @include media-breakpoint-up(lg) {
    .onepy-rottory-kitchen {
      @include font-size(6);
    }
  }
}
