.header {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  padding: 0 $base-margin-size;
  margin-top: $margin-s;
  z-index: 999;
  a {
    text-decoration: none;
    color: #fff;
  }
  .onepy-logo {
    color: #fff;
    &:before {
      @include font-size(1.75);
    }
  }
  @include media-breakpoint-up(lg) {
    .contact {
      width: 80px;
      height: 80px;
      line-height: 80px;
      border-radius: 80px;
    }
  }
}
